header{
    margin-top:50px;
}

.header_right {
    margin-top: 12px;
    float: right;
    font-size: 18px;
    color: black;
}

.header_right button{
    background-color: white;
    border:solid 0 white;
}

#header_content .input-sm{
    height:48px;
    font-size: 14px;
}

.datepicker{
    cursor: pointer;
}



#header_container{
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#header_content{
    margin-top:19px;
}

#main_login, #main_signup, #main_become{
    margin-left:40px;
}

.myslide{
    margin-top:50px;
    height: 400px;
}

.payment_box{
    /*position: fixed;*/
    right:0;
}

.menu_info{
    margin-top:30px;
}