img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position:relative;
  display: inline-block;
}

.regComment img{

    width: 70px;
    height: 70px;
    border-radius: 50%;
    position:relative;
    display: inline-block;
}
.media-left{
  padding:10px;
}
.commentTitle{
  padding-top:30px;
}
.commentHead{
  padding-bottom:10px;
}
.commentThumb{
  padding-right:10px;
}
.commentDetail{
  text-align:right;
}
.submitName{
  font-size:20px;
  font-weight:700;
}
.submitReply{
  font-weight:400;
  color:#A4A4A4;
}
.commentName{
  font-size:15px;
  font-weight:700;
}
.commentDetail{
  font-size:12px;
}
.commentDetail button{
  background-color:#FAFAFA;
  border:0px;
}
.commentContents{
  font-size:15px;
}
.commentSubmit{
    border-radius:5px;
    background-color: #2E9AFE;
    border: none;

    color: white;
    margin-top:10px;
    padding: 3px 6px 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
img:after{

    border-right:14px solid transparent; /*border의 성질을 이용해 오른쪽테두리만 투명으로 만든다. */
    border-bottom:14px solid cornflowerblue;
    width:0px;height:0px;
    content:" ";
    position:absolute;
    pointer-events: none;
    margin-top:-10px;


    border-bottom-color: rgb(26, 188, 156);
}

.arrow {display:inline-block; background:#7d1919; position:absolute;}

.arrow {
  top:15px;
  left:-15px;width:15px; height:5px;
}
.arrow:after{
  content:'';
  position:absolute;
  border-style:solid;
  border-width:7px;
  border-color:transparent transparent transparent #7d1919;
  height:10px;
  width:10px;
  top:-4px;
  left:15px;
}
.arrow:before{
  content:'';
  position:absolute;
  border-style:solid;
  border-width:2px;
  border-color:#7d1919;
  top:-15px;
  left:-3px;width:1px; height:20px;
}
