//
   Created by 순우 on 2017-11-21.

doctype html
html
    head
        title Help~!!
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='../../css/suyeon.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    body.font.margin
        .text
            h2 도움말
        .vl
            br
        div
            .under_
                h4
                    a.non_line(href='#demo1', data-toggle='collapse') 푸디가 무엇인가요?
                #demo1.collapse
                    h5 누구나 쉽게 집에서 만든 음식을 팔 수 있게 도와주는 웹사이트 입니다.
            .under_
                h4
                    a.non_line(href='#demo2', data-toggle='collapse') 어떻게 이용하나요?
                #demo2.collapse
                    h5 dod!!
            .under_
                h4
                    a.non_line(href='#demo3', data-toggle='collapse') 판매자 신청은 어떻게 하나요?
                #demo3.collapse
                    h5 qoq!!
