//
   Created by 순우 on 2017-11-21.

doctype html
html
    head
        title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='../../css/suyeon.css')
    body.font
        .font_Lsize.center_align.margin 결제가 완료되었습니다.
        .top_to_button_margin.center_align.button_margin
            a.btn.btn-success.col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-6.col-xs-offset-3(href='#', role='button') 확인
