//
   Created by 순우 on 2017-11-21.

doctype html
html
    head
        title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='../../css/suyeon.css')
    body.margin.font
        .font_XLsize.center_align.margin.left_onP
            | 크레딧
        br
        .center_align.left_onP.marg_onP
            p 크레딧은 푸디페이지에서 현금처럼 사용할 수 있습니다.
        br
        br
        br
        .fl.hr_.hr_inP
            .right_align
                | 0 C
            hr.mar_
