//   Created by 순우 on 2017-11-07.

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Karma')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='../../css/TopMenu_KSW.css')
        link(rel='stylesheet', href='../../css/TopMenu_KKY.css')
    body
        // Sidebar
        nav#mySidebar.w3-sidebar.w3-bar-block.w3-card.w3-top.w3-xlarge.w3-animate-left
            a#goHome.w3-bar-item.w3-button(href='/') 홈
            hr
            if(!passport)
                a.w3-bar-item.w3-button(href='/Login') 로그인
                a.w3-bar-item.w3-button(href='/signup') 회원가입
            else
                a.w3-bar-item.w3-button(onclick="LogOut()") 로그아웃
                if(!passport.user.seller)
                    a#submitBtn.w3-red.w3-bar-item(href='/seller/Seller_submit') 판매자 신청하기
                else
                    a#submitBtn.w3-red.w3-bar-item(href='/seller') 판매자 메뉴
            a.w3-bar-item.w3-button(href='/Help') 도움말
        // Top menu
        .w3-top
            #topMenu.w3-white.w3-xlarge.w3-row-padding
                #topMenuDropdown.w3-button.w3-left.col-xs-3.col-sm-1.col-md-1.col-lg-1.arrow_wrapper
                    .w3-col.s10
                        img#foodiyicon(src='../../img/foodiy_icon.png', alt='')
                        span.notify-badge 3
                    .w3-col.s2.arrow#arrow
                a#mapBtn.w3-button.w3-right.col-sm-offset-2.col-md-offset-2.col-xs-2.col-sm-1.col-md-1.col-lg-1(href='/Menulist') MAP
                .form-group.has-success.has-feedback.w3-center.w3-padding-16.col-sm-offset-2.col-md-offset-2.col-xs-7.col-sm-6.col-md-6
                    .col-sm-12
                        input#inputSuccess.form-control.input-lg(type='text', placeholder='Search')
        // Map
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='../../Js/TopMenu.js')
        script(src='../../Js/TopMenu_GSH.js')
        script(src='../../Js/TopMenu_KKY.js')
