//
   Created by Sehyeon on 2017-07-24.
doctype html
html(lang='en',ng-app="seller2")
    head
        style.
            input.ng-invalid {
                border: 1px solid red;
            }
            input.ng-valid{
                border-bottom-style:solid;
            }
            input.ng-pristine {border:1px solid gray}
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title foodiy
        link(rel='stylesheet', href='../css/bootstrap.css')
        link(rel='stylesheet', href='../css/font-awesome.min.css')
        link(rel='stylesheet', href='../js/jquery-ui-1.12.1/jquery-ui.css')
        link(rel='stylesheet', href='../css/manage_menu.css')
        link(rel='stylesheet', href='../css/become_foodiy.css')
        link(rel='stylesheet', href='../css/test2.css')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        script(src='../js/jquery.js')
        script(src='../js/jquery-ui-1.12.1/jquery-ui.js')
        script(type='text/javascript', src='../js/bootstrap.js')
        script(type='text/javascript', src='../js/topmenu.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js')
        script(type='text/javascript', src='../js/become_foodiy2.js')
        style.
            footer .navbar {
                overflow: hidden;
                background-color: #333;
                bottom: 0;
                width: 100%;
            }
    body
        nav.navbar.navbar-inverse(style='border: none; margin: 0;')
            .col-md-4.col-xs-4.col-sm-4(style='background-color: #fefefe; height: 60px;')
            .user_button.col-md-8.col-sm-8.col-xs-8
                button.btn.btn-default.col-md-offset-8.col-sm-offset-8.col-xs-offset-8(type='button') 판매자 페이지
                button.btn.btn-default(type='button')
                    i.fa.fa-user-o
                    |   내 정보
                    i.fa.fa-angle-down
        div(style='position: absolute; z-index: 1;')
            img.img-responsive(src='../img/organic_food.jpg', alt='', style='height: 450px; width: 100%;')
        div(style='background-color: #d6e9c6; height: 400px; color: #fefefe; width: 361px;float: right; z-index: 2; position: relative; margin-top: 25px; margin-right: 80px;')
            h2(style='text-align: center; font-weight: bold; line-height: 50px; margin-top: 40px; ')
                p
                    | 여러분이 직접
                    br
                    | FooDIY가 되어보세요
            h4(style='font-weight: bold; padding: 10px 40px; line-height: 28px; margin-bottom: 20px;') 복잡하고 자금이 많이 필요한 요식업을 FooDIY와 함께 집에서 간단하게 ! 매일 매일 흥미로운 사람들에게 여러분의 음식을 대접해보세요
            button.btn.btn-success(style='display: block; margin: auto;') 자세히 알아보기
        form.col-md-12(name ='seller2', action='/seller/submit_menu', method="post", enctype="multipart/form-data", style='padding: 0 300px; margin-top: 75px; z-index: 3' ,role='alert')
            legend(style='font-weight: bold; margin-bottom: 40px;') Register Menu
            // <div style="float: right;">
            // <button type="button" class="btn btn-primary" style="height: 40px; margin-top: 37px;">본인 인증</button>
            // </div>
            label(for='menu_name', style='margin-bottom: 15px;') 메뉴 이름
            .input-group.col-md-5
                input#menu_name.form-control.input-lg(type='text' name='menu_name' maxlength="30" , ng-model='menu_name',ng-required='true', ng-pattern='/^[가-힣a-zA-Z0-9]*$/')
                br
                br
                .alert.alert-warning(ng-show='seller2.menu_name.$error.pattern', role='alert')
                    | form should not contain any special characters. (ex. !@#..)
            br
            br
            br
            br
            br
            label(for='menu_description', style='margin-bottom: 15px;') 메뉴 설명
            .wrap
              textarea#menu_description.form-control(name='content', cols='30', rows='10',maxlength="1000", ng-model='content',ng-required='true')
              |
              span#counter ###
            // <div class="input-group col-md-10">
            // <input type="text" class="form-control input-lg" id="menu_description">
            // </div>
            br
            br
            br
            br
            br
            // <div style="float: right;">
            // <span><button type="button" class="btn btn-primary" style="height: 40px; margin-top: 37px;" id="phone_btn">본인 인증</button></span>
            // </div>
            // <div class="input-group col-md-9">
            // <span class="input-group-addon"><i class="material-icons" style="font-size:20px">phone_iphone</i></span>
            // <input type="tel" class="form-control input-lg" name="usertel" id="phone_num" placeholder="Number">
            // </div>
            label(for='upload', style='margin-bottom: 15px') 메뉴 이미지
            #upload.row.m-b-1
                .col-sm-6.offset-sm-3
                    .form-group.inputDnD
                        input#inputImg1.form-control-file.text-success.font-weight-bold(type='file', accept='image/*', name="menu_pic", onchange='readUrl(this)', data-title='Click or Drag')
                        img#blah1(src="#" alt="your image" height="150px")
                .col-sm-6.offset-sm-3
                    .form-group.inputDnD
                        input#inputImg2.form-control-file.text-success.font-weight-bold(type='file', accept='image/*', name="menu_pic", onchange='readUrl(this)', data-title='Click or Drag')
                        img#blah2(src="#" alt="your image" height="150px")
                .col-sm-6.offset-sm-3
                    .form-group.inputDnD
                        input#inputImg3.form-control-file.text-success.font-weight-bold(type='file', accept='image/*', name="menu_pic", onchange='readUrl(this)', data-title='Click or Drag')
                        img#blah3(src="#" alt="your image" height="150px")
                .col-sm-6.offset-sm-3
                    .form-group.inputDnD
                        input#inputImg4.form-control-file.text-success.font-weight-bold(type='file', accept='image/*', name="menu_pic", onchange='readUrl(this)', data-title='Click or Drag')
                        img#blah4(src="#" alt="your image" height="150px")
            br
            br
            br
            br
            br
            label(for='ingre_img0', style='margin-bottom: 15px;') 재료
            br
            #ingre_img0.col-sm-12(style='padding: 0; border: 2px solid black; height: 105px;')
                .col-sm-3.offset-sm-3
                    .form-group.inputDnD
                        input#inputIngre0.form-control-file.text-warning.font-weight-bold(type='file', accept='image/*', name="ingre_pic",  onchange='readUrl(this)', data-title='Click or Drag', style='position: absolute; z-index: 2;')
                        img#ingreblah0(src="#" alt="your image" height="100px" style="display:none;")
                        //div(style='margin-left: 50%;')
                            i.fa.fa-plus(style='font-size:45px; position: relative; z-index: 1; margin-top: 27px;')
                .col-xs-offset-1.col-xs-5(style='margin-top: 11px;')
                    input#ingre_name0.text-primary.form-control(type='text', name="ingre_name[]", placeholder='재료 이름' ,ng-model='ingre_name',ng-required='true',ng-pattern='/^[가-힣a-zA-Z0-9]*$/')
                    input#ingre_from0.text-primary.form-control(type='text', name="madeby[]", placeholder='원산지', style='margin-top: 10px;' ,ng-model='madeby',ng-required='true',ng-pattern='/^[가-힣a-zA-Z0-9]*$/')
                button#ingresubmit0.btn.btn-primary.col-xs-1(type='button', style='margin-top: 15px; height: 70px;', onclick='selectFile();') 등록
                button#ingrereset0.btn.btn-danger.col-xs-1(type='button', style='margin-top: 15px; height: 70px; margin-left: 15px;') 초기화
            span#ingre_fix
            br
            br
            br
            br
            br
            br
            br
            br
            //- .alert.alert-warning(ng-show='seller2.ingre_name.$error.pattern', role='alert')
            //-     | form should not contain any special characters. (ex. !@#..)
            br
            br
            label(for='ingre_img', style='margin-bottom: 15px;') 가격 및 설정
            br
            .form-control(style='height: 80px;')
                label.col-xs-3(for='ingre_img')
                    | 판매 가격(원)
                    input.text-primary.form-control(type='text', name="price", style = "text-align:right;", ng-model='price', ng-required='true',ng-pattern='/^([1-9]+[0-9]*|[1-9]+)$/')
                label.col-xs-offset-1.col-xs-3(for='ingre_img')
                    | 가용 수량 (개)
                    input.text-primary.form-control(type='number', name="amount", style = "text-align:right;" ,ng-model='amount',ng-required='true',ng-pattern='/^([1-9]|[1-9][0-9]|[1-9][0-9][0-9])$/')
                //label.col-xs-offset-1.col-xs-3(for='ingre_img')
                    | 최소 주문일 (일)
                    input.text-primary.form-control(type='number', style='margin-top: 10px;')
            br
            br
            br
            br
            br
            //label(for='place', style='margin-bottom: 15px;') 식사 장소
            br
            //#place.row.m-b-1
                .col-sm-6.offset-sm-3
                    .form-group.inputDnD
                        input#inputFile1.form-control-file.text-primary.font-weight-bold(type='file', accept='image/*', onchange='readUrl(this)', data-title='Click or Drag')
                .col-sm-6.offset-sm-3
                    .form-group.inputDnD
                        input#inputFile2.form-control-file.text-primary.font-weight-bold(type='file', accept='image/*', onchange='readUrl(this)', data-title='Click or Drag')
                .col-sm-6.offset-sm-3
                    .form-group.inputDnD
                        input#inputFile3.form-control-file.text-primary.font-weight-bold(type='file', accept='image/*', onchange='readUrl(this)', data-title='Click or Drag')
                .col-sm-6.offset-sm-3
                    .form-group.inputDnD
                        input#inputFile4.form-control-file.text-primary.font-weight-bold(type='file', accept='image/*', onchange='readUrl(this)', data-title='Click or Drag')
            br
            // <div class="address_div" style="padding: 0 70px; margin-top: 50px;">
            // <label for="address1" style="margin-bottom: 15px;">Address</label>
            // <div class="input-group">
            // <span class="input-group-addon"><i class="fa fa-home" style="font-size: 20px;"></i></span>
            // <input type="text" class="form-control input-lg" id="address1" placeholder="Address">
            // </div>
            // <div class="input-group">
            // <span class="input-group-addon"><i class="fa fa-search-plus" style="font-size: 20px;"></i></span>
            // <input type="text" class="form-control input-lg" id="address2" placeholder="Detail">
            // </div>
            // </div>
            div(style='margin-bottom: 30px;')
                hr
            div(style='margin-bottom: 100px;')
                //button#pre_btn.btn.btn-success.col-md-offset-2.col-md-3(type='button') 이전
                button.btn.btn-success.col-md-offset-2.col-md-3(type='submit',ng-disabled='seller2.content.$invalid||seller2.menu_name.$invalid||seller2.price.$invalid||seller2.amount.$invalid||seller2.content.$invalid') 등록 완료
            p#submitmenufail
        footer
            .navbar
                p(style='text-align: center; margin-top: 13px;') Temporary Footer
        script.
            $(document).ready(function () {
                $("#pre_btn").click(function () {
                    location.href = ("become_foodiy.html");
                })
            });
            function readUrl(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = (e) => {
                        var imgData = e.target.result;
                        var imgName = input.files[0].name;
                        input.setAttribute("data-title", imgName);
                        console.log(e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
    script(src='../js/submit_menu.js')
