<!DOCTYPE html>
<html lang="en">
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="Comment.css">

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="js/bootstrap.min.js"></script>


		<!-- Website Font style -->

<title>판매자 신청 페이지</title>
	</head>
<body>

<div class="container">


<div class="col-xs-12 regComment">
  <div class="media">
    <div class="media-left media-top">
      <a href="#">
        <img src="kaka.jpg" alt="Avatar">
      </a>
    </div>
    <div class="media-body">



    <div class="form-group">
      <label for="comment" class="submitName">김덕배</label>
      <textarea class="form-control" rows="3" id="comment" placeholder="내용을 입력해주세요..."></textarea>
      <button class="pull-right commentSubmit">댓글문의</button>
    </div>


    </div>
    </div>
  </div>

  <!-- <div class="col-xs-12 regComment">

      <a href="#">
        <img src="kaka.jpg" alt="Avatar">
      </a>


        <p>C.ronaldo</p>


        <p><input></input></p>


        <p><button>댓글문의</button></p>


  </div> -->


  <div class="col-xs-12 commentTitle">
    <div class="col-xs-12 commentHead">

        <a href="#" class="commentThumb">
          <img src="kaka.jpg" alt="Avatar">
        </a>
        <span class="commentName">이준희</span>
    </div>
    <div class="col-xs-12">
      <p class="commentContents">가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가</p>
    </div>
    <div class="col-xs-12 pull-right">
      <p class="commentDetail">2017.10.18&nbsp;<button class="submitReply">답글달기</button>&nbsp;<button><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>10</button>&nbsp;<button>신고 </button></p>
    </div>
  </div>

  <div class="col-xs-11 col-xs-offset-1">
    <div class="col-xs-12 commentHead">

        <a href="#" class="commentThumb">
          <span class="arrow"></span>
          <img src="kaka.jpg" alt="Avatar">
        </a>
        <span class="commentName">이준희</span>
    </div>
    <div class="col-xs-12">
      <p class="commentContents">가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가가</p>
    </div>
    <div class="col-xs-12">
      <p class="commentDetail">2017.10.18&nbsp;<button class="submitReply">답글달기</button>&nbsp;<button><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>10</button>&nbsp;<button>신고 </button></p>
    </div>
  </div>


  <!-- <div class="media">
    <div class="media-left">
      <a href="#">
        <img src="kaka.jpg" alt="Avatar" class="right">
      </a>

    </div>
    <div class="media-body">
      <h4 class="media-heading">John Doe <small><i>Posted on February 19, 2016</i></small></h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>


      <div class="media">
        <div class="media-left">
            <a>
              <img src="kaka.jpg" alt="Avatar" class="media-object">
            </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">John Doe <small><i>Posted on February 19, 2016</i></small></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>




        </div>
      </div>

    </div>
  </div> -->
</div>

</body>
</html>
