//
   Created by Sehyeon on 2017-08-18.
doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title foodiy
        link(rel='stylesheet', href='../css/bootstrap.css')
        link(rel='stylesheet', href='../css/login.css')
        link(rel='stylesheet', href='../css/font-awesome.min.css')
    body
        #pop-up-login.container-fluid
            .signup-content
                form.form-horizontal(action='')
                    .form-group
                        img(src='../img/foodiylogo.gif', alt='', style='width: 300px; display: block; margin: auto;')
                        if(safe)
                            p(style='text-align: center; font-size: 20px;') 인증에 성공했습니다.
                        else
                            p(style='text-align: center; font-size: 20px;') 인증에 실패했습니다. 로그인 후 인증메일을 다시 받아주세요.
                        .real_content
                            button#sign-up.login-sign-up.form-control(type='button', onclick='goPage()') 메인으로
        // <footer style="margin-top: 50px;">
        // <div class="navbar">
        // <p style="text-align: center; margin-top: 13px;">Temporary Footer</p>
        // </div>
        // </footer>
        script(src='../js/jquery.js')
        script(type='text/javascript', src='../js/bootstrap.js')
        script.
            function goPage() {
                location.href="/";
            }
    script(type='text/javascript', src='../js/topmenu.js')
