//
   Created by Sehyeon on 2017-07-24.
doctype html
html
    head
        style.
            body {margin:0;}
            .navbar {
                overflow: hidden;
                background-color: #333;
                position: fixed;
                top: 0;
                width: 100%;
            }
            .navbar a {
                float: left;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }
            .main {
                padding: 16px;
                margin-top: 30px;
                height: 1500px; /* Used in this example to enable scrolling */
            }
    body
        .navbar
            a(href='#home') Home
            a(href='#news') News
            a(href='#contact') Contact
            a(href='#about') About
        .main
            h1 Fixed Top Menu
            h2 Scroll this page to see the effect
            h2 The navigation bar will stay at the top of the page while scrolling
            p Some text some text some text some text..
            p Some text some text some text some text..
            p Some text some text some text some text..
            p Some text some text some text some text..
            p Some text some text some text some text..
            p Some text some text some text some text..
            p Some text some text some text some text..
            p Some text some text some text some text..
            p Some text some text some text some text..
            p Some text some text some text some text..
            p Some text some text some text some text..
            p Some text some text some text some text..
            p Some text some text some text some text..
            p Some text some text some text some text..
            p Some text some text some text some text..
            p Some text some text some text some text..
            p Some text some text some text some text..
            p Some text some text some text some text..
            p Some text some text some text some text..
            p Some text some text some text some text..

