//
   Created by Sehyeon on 2017-07-18.

DOCTYPE html
html
    head
        meta(lang="en" charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1")
        title foodiy
        link(rel='stylesheet', href='/stylesheets/main_css.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
        link(rel='stylesheet', href='/javascripts/jquery-ui-1.12.1/jquery-ui.css')
        link(rel='stylesheet', href='/stylesheets/signUp.css')
    body
        header
            div(class="container" id="header_container")
                form(class="container-fluid" action="#")
                    input(type="text" class="input-sm" placeholder="Where")
                    input(type="text" class="datepicker input-sm" placeholder="날짜를 선택하세요")
                    select(class="input-sm")
                        option(value="korean") Korean
                        option(value="japanese") Japanese
                        option(value="chinese") Chinese
                        option(value="western") Western
                        option(value="apetiser") Apetiser
                        option(value="etc") Etc
                    select(class="input-sm")
                        option(value="") 1
                        option(value="") 2
                        option(value="") 3
                        option(value="") 4
                        option(value="") 5
                        option(value="") 6+
                    div(class="header_right")
                        span(id="main_signup") Sign up
                        span(id="main_login") Login
        article
        //pop-up Signup
        div(class="signupform container-fluid" id="pop-up-sign")
            div(class="signup-content")
                form(action class="form-horizontal")
                    div(class="form-group")
                    div(class="real_content")
                    div(class="link_google_facebook")
                        button(class="link_othersignup col-xs-6 col-sm-6 col-md-6 col-lg-6" id="signup-google-s") google
                            span
                                img(src="./img/google_logo.png" alt="")
                        button(class="link_othersignup col-xs-6 col-sm-6 col-md-6 col-lg-6" id="signup-facebook-s") facebook
                            span
                                img(src="./img/facebook_logo.png" alt="")
                        br
                        br
                        hr
                        div(class="input-group-s")
                            span(class="input-group-addon")
                                i(class="fa fa-envelope")
                        div(class="input-group")
                            input(type="email" class="form-control" id="email-s" placeholder="E-mail")
                            span(class="input-group-addon login-button")
                                a(href="" id="email_link") 중복확인
                        div(class="input-group-s")
                            span(class="input-group-addon")
                                i(class="glyphicon glyphicon-lock")
                            input(type="password" class="form-control" id="password-s" placeholder="Password")
                            input(type="password" class="form-control" id="password2-s" placeholder="Confirm Password")
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/jquery-ui-1.12.1/jquery-ui.js")
    script(type="text/javascript" src="/javascripts/bootstrap.js")
    script(type="text/javascript" src="/javascripts/main.js")
