doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        script(language='javascript').
            function goPopup(){
                // 호출된 페이지(jusopopup.jsp)에서 실제 주소검색URL(http://www.juso.go.kr/addrlink/addrLinkUrl.do)를 호출하게 됩니다.
                var pop = window.open("/seller/jusoPopup","pop","width=570,height=420, scrollbars=yes, resizable=yes");
            }
            function jusoCallBack(roadFullAddr,roadAddrPart1,addrDetail,roadAddrPart2,engAddr, jibunAddr, zipNo, admCd, rnMgtSn, bdMgtSn
                , detBdNmList, bdNm, bdKdcd, siNm, sggNm, emdNm, liNm, rn, udrtYn, buldMnnm, buldSlno, mtYn, lnbrMnnm, lnbrSlno
                , emdNo, entX, entY){
                // 팝업페이지에서 주소입력한 정보를 받아서, 현 페이지에 정보를 등록합니다.
                document.form.roadAddrPart1.value = roadAddrPart1;
                document.form.roadAddrPart2.value = roadAddrPart2;
                document.form.addrDetail.value = addrDetail;
                document.form.zipNo.value = zipNo;
                document.form.entX.value = entX;
                document.form.entY.value = entY;
            }
        title 주소 입력 샘플
    body
        form#form(name='form', method='post')
            table
                colgroup
                    col(style='width:20%')
                    col
                tbody
                    tr
                        th 우편번호
                        td
                            input#confmKey(type='hidden', name='confmKey', value='')
                            input#zipNo(type='text', name='zipNo', readonly='', style='width:100px')
                            input(type='button', value='주소검색', onclick='goPopup();')
                    tr
                        th
                            label 도로명주소
                        td
                            input#roadAddrPart1(type='text', style='width:85%')
                    tr
                        th 상세주소
                        td
                            input#addrDetail(type='text', style='width:40%', value='')
                            input#roadAddrPart2(type='text', style='width:40%', value='')
                    tr
                        th 좌표정보
                        td
                            input#entX(type='text', style='width:40%', value='')
                            input#entY(type='text', style='width:40%', value='')
