//
   Created by Sehyeon on 2017-11-15.
doctype html
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css", href="../css/Seller_Submit_KKY.css")
        // 합쳐지고 최소화된 최신 CSS
        link(rel="stylesheet", href="../../css/bootstrap.min.css")
        // 부가적인 테마
        link(rel="stylesheet", href="../../css/bootstrap-theme.min.css")
        // 합쳐지고 최소화된 최신 자바스크립트
        script(src="../../Js/bootstrap.min.js")
        // Website Font style
        title 판매자 신청 페이지
    body
        .container.col-md-5.col-md-offset-3
            .row.main
                .panel-heading
                    h1.title 판매자 신청
                .line
                    .col-xs-offset-1
                        p.auth 본인 인증
                .main-login.main-center
                    form.form(method="post", action="#")
                        .col-xs-12
                            .col-xs-4.col-xs-offset-1
                                p.phoneText 전화번호
                            .col-xs-5.col-md-7
                                button.btn.btn-default.btn-block(type="button") 본인인증하기
                        .col-xs-12
                            hr.articleLine
                        .col-xs-12
                            h2.addressTitle 매장주소
                        .col-xs-12
                            p.explanation (판매하실 주소를 입력해 주세요)
                        .col-xs-12
                            .col-xs-3.col-md-offset-1.col-md-2
                                p.phoneText 우편번호
                            .col-xs-5.divMargin
                                input#zipNo(type="text", name='zipNo', style="width:100%", readonly="readonly")
                            .col-xs-4
                                button.btn.btn-default.btn-block(type="button" onclick="goPopup()") 주소검색
                        #address.col-xs-12
                            .col-xs-3.col-md-offset-1.col-md-2
                                p.phoneText 도로명주소
                            .col-xs-9.divMargin
                                input#roadAddrPart1(type="text", name='add1', style="width:100%", readonly="readonly")
                        .col-xs-12
                            .col-xs-3.col-md-offset-1.col-md-2
                                p.phoneText 상세주소
                            .col-xs-9.divMargin
                                input#addrDetail(type="text", name='add21', style="width:100%", readonly="readonly")
                        .col-xs-12
                            .col-xs-9.divMargin
                                input#entX(type="hidden", value='', name='y', style="width:100%", readonly="readonly")
                                input#entY(type="hidden", value='', name='x', style="width:100%", readonly="readonly")
                                input#confmKey(type='hidden', name='confmKey', value='')
                                input#roadAddrPart2.input-sm.col-xs-4.col-xs-offset-1(type='hidden', name='add22', readonly='readonly')
                        .btn-group.btn-group-justified.submit(role="group")
                            #cancleButton.btn-group(role="group")
                                button.btn(type="button") 취소
                            #submitButton.btn-group(role="group")
                                button.btn(type="button") 판매자 신청하기
    script(src="../../Js/juso.js")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='../lib/proj4js-combined.js')
