doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title foodiy
        link(rel='stylesheet', href='../css/bootstrap.css')
        link(rel='stylesheet', href='../css/menu_list.css')
        link(rel='stylesheet', href='../css/font-awesome.min.css')
        link(rel='stylesheet', href='../js/jquery-ui-1.12.1/jquery-ui.css')
        link(rel='stylesheet', href='../css/signUp.css')
        link(rel='stylesheet', href='../css/main_css.css')
    body
        include top
        article
            .container-fluid
                ul.items
                    a(href='menu_info.html')
                        li.items__item(data-lat='51.517429', data-lon='-0.009330')
                            img.items__img(src='https://placem.at/places?w=400&h=200&random=1', alt='')
                            h3.items__title Place 1
                    li.items__item(data-lat='51.417419', data-lon='-0.202320')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=2', alt='')
                        h3.items__title Place 2
                    li.items__item(data-lat='51.517439', data-lon='-0.101310')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=3', alt='')
                        h3.items__title Place 3
                    li.items__item(data-lat='51.517419', data-lon='-0.209330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=4', alt='')
                        h3.items__title Place 4
                    li.items__item(data-lat='51.537429', data-lon='-0.009330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=5', alt='')
                        h3.items__title Place 5
                    li.items__item(data-lat='51.717819', data-lon='-0.106320')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=6', alt='')
                        h3.items__title Place 6
                    li.items__item(data-lat='51.617439', data-lon='-0.1012350')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=7', alt='')
                        h3.items__title Place 7
                    li.items__item(data-lat='51.412419', data-lon='-0.209330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=8', alt='')
                        h3.items__title Place 8
                    li.items__item(data-lat='51.412419', data-lon='-0.209330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=8', alt='')
                        h3.items__title Place 9
                    li.items__item(data-lat='51.517429', data-lon='-0.009330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=1', alt='')
                        h3.items__title Place 1
                    li.items__item(data-lat='51.417419', data-lon='-0.202320')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=2', alt='')
                        h3.items__title Place 2
                    li.items__item(data-lat='51.517439', data-lon='-0.101310')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=3', alt='')
                        h3.items__title Place 3
                    li.items__item(data-lat='51.517419', data-lon='-0.209330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=4', alt='')
                        h3.items__title Place 4
                    li.items__item(data-lat='51.537429', data-lon='-0.009330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=5', alt='')
                        h3.items__title Place 5
                    li.items__item(data-lat='51.717819', data-lon='-0.106320')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=6', alt='')
                        h3.items__title Place 6
                    li.items__item(data-lat='51.617439', data-lon='-0.1012350')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=7', alt='')
                        h3.items__title Place 7
                    li.items__item(data-lat='51.412419', data-lon='-0.209330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=8', alt='')
                        h3.items__title Place 8
                    li.items__item(data-lat='51.412419', data-lon='-0.209330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=8', alt='')
                        h3.items__title Place 9
                    li.items__item(data-lat='51.517429', data-lon='-0.009330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=1', alt='')
                        h3.items__title Place 1
                    li.items__item(data-lat='51.417419', data-lon='-0.202320')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=2', alt='')
                        h3.items__title Place 2
                    li.items__item(data-lat='51.517439', data-lon='-0.101310')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=3', alt='')
                        h3.items__title Place 3
                    li.items__item(data-lat='51.517419', data-lon='-0.209330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=4', alt='')
                        h3.items__title Place 4
                    li.items__item(data-lat='51.537429', data-lon='-0.009330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=5', alt='')
                        h3.items__title Place 5
                    li.items__item(data-lat='51.717819', data-lon='-0.106320')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=6', alt='')
                        h3.items__title Place 6
                    li.items__item(data-lat='51.617439', data-lon='-0.1012350')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=7', alt='')
                        h3.items__title Place 7
                    li.items__item(data-lat='51.412419', data-lon='-0.209330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=8', alt='')
                        h3.items__title Place 8
                    li.items__item(data-lat='51.412419', data-lon='-0.209330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=8', alt='')
                        h3.items__title Place 9
                    li.items__item(data-lat='51.517429', data-lon='-0.009330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=1', alt='')
                        h3.items__title Place 1
                    li.items__item(data-lat='51.417419', data-lon='-0.202320')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=2', alt='')
                        h3.items__title Place 2
                    li.items__item(data-lat='51.517439', data-lon='-0.101310')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=3', alt='')
                        h3.items__title Place 3
                    li.items__item(data-lat='51.517419', data-lon='-0.209330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=4', alt='')
                        h3.items__title Place 4
                    li.items__item(data-lat='51.537429', data-lon='-0.009330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=5', alt='')
                        h3.items__title Place 5
                    li.items__item(data-lat='51.717819', data-lon='-0.106320')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=6', alt='')
                        h3.items__title Place 6
                    li.items__item(data-lat='51.617439', data-lon='-0.1012350')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=7', alt='')
                        h3.items__title Place 7
                    li.items__item(data-lat='51.412419', data-lon='-0.209330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=8', alt='')
                        h3.items__title Place 8
                    li.items__item(data-lat='51.412419', data-lon='-0.209330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=8', alt='')
                        h3.items__title Place 9
                    li.items__item(data-lat='51.517429', data-lon='-0.009330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=1', alt='')
                        h3.items__title Place 1
                    li.items__item(data-lat='51.417419', data-lon='-0.202320')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=2', alt='')
                        h3.items__title Place 2
                    li.items__item(data-lat='51.517439', data-lon='-0.101310')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=3', alt='')
                        h3.items__title Place 3
                    li.items__item(data-lat='51.517419', data-lon='-0.209330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=4', alt='')
                        h3.items__title Place 4
                    li.items__item(data-lat='51.537429', data-lon='-0.009330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=5', alt='')
                        h3.items__title Place 5
                    li.items__item(data-lat='51.717819', data-lon='-0.106320')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=6', alt='')
                        h3.items__title Place 6
                    li.items__item(data-lat='51.617439', data-lon='-0.1012350')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=7', alt='')
                        h3.items__title Place 7
                    li.items__item(data-lat='51.412419', data-lon='-0.209330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=8', alt='')
                        h3.items__title Place 8
                    li.items__item(data-lat='51.412419', data-lon='-0.209330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=8', alt='')
                        h3.items__title Place 9
                    li.items__item(data-lat='51.517429', data-lon='-0.009330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=1', alt='')
                        h3.items__title Place 1
                    li.items__item(data-lat='51.417419', data-lon='-0.202320')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=2', alt='')
                        h3.items__title Place 2
                    li.items__item(data-lat='51.517439', data-lon='-0.101310')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=3', alt='')
                        h3.items__title Place 3
                    li.items__item(data-lat='51.517419', data-lon='-0.209330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=4', alt='')
                        h3.items__title Place 4
                    li.items__item(data-lat='51.537429', data-lon='-0.009330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=5', alt='')
                        h3.items__title Place 5
                    li.items__item(data-lat='51.717819', data-lon='-0.106320')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=6', alt='')
                        h3.items__title Place 6
                    li.items__item(data-lat='51.617439', data-lon='-0.1012350')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=7', alt='')
                        h3.items__title Place 7
                    li.items__item(data-lat='51.412419', data-lon='-0.209330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=8', alt='')
                        h3.items__title Place 8
                    li.items__item(data-lat='51.412419', data-lon='-0.209330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=8', alt='')
                        h3.items__title Place 9
                    li.items__item(data-lat='51.517429', data-lon='-0.009330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=1', alt='')
                        h3.items__title Place 1
                    li.items__item(data-lat='51.417419', data-lon='-0.202320')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=2', alt='')
                        h3.items__title Place 2
                    li.items__item(data-lat='51.517439', data-lon='-0.101310')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=3', alt='')
                        h3.items__title Place 3
                    li.items__item(data-lat='51.517419', data-lon='-0.209330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=4', alt='')
                        h3.items__title Place 4
                    li.items__item(data-lat='51.537429', data-lon='-0.009330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=5', alt='')
                        h3.items__title Place 5
                    li.items__item(data-lat='51.717819', data-lon='-0.106320')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=6', alt='')
                        h3.items__title Place 6
                    li.items__item(data-lat='51.617439', data-lon='-0.1012350')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=7', alt='')
                        h3.items__title Place 7
                    li.items__item(data-lat='51.412419', data-lon='-0.209330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=8', alt='')
                        h3.items__title Place 8
                    li.items__item(data-lat='51.412419', data-lon='-0.209330')
                        img.items__img(src='https://placem.at/places?w=400&h=200&random=8', alt='')
                        h3.items__title Place 9
                #map.map
                    #mapholder
    script(src='../js/jquery.js')
    script(src='../js/jquery-ui-1.12.1/jquery-ui.js')
    script(type='text/javascript', src='../js/bootstrap.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBb0qeAa_KvAKAeoWRC1xl4BCH-iPN5ztc')
    script(type='text/javascript', src='../js/main.js')
    script(type='text/javascript', src='../js/menu_list.js')
    script(type='text/javascript', src='../js/topmenu.js')

