doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title foodiy
        link(rel='stylesheet', href='../css/bootstrap.css')
        link(rel='stylesheet', href='../css/menu_list.css')
        link(rel='stylesheet', href='../css/font-awesome.min.css')
        link(rel='stylesheet', href='../js/jquery-ui-1.12.1/jquery-ui.css')
        link(rel='stylesheet', href='../css/signUp.css')
        link(rel='stylesheet', href='../css/main_css.css')
    body(onload="showPosition()")
        include top
        article
            .container-fluid
                ul#items.items
                    //- for(var i=0;i<menu.length;i++)
                        a(href='/menu_info/'+menu[i]._id)
                            li.items__item(data-lat=x[i], data-lon=y[i])
                                img.items__img(src=menu[i].image[0].image_url, alt='')
                                h3.items__title
                                    = menu[i].menu_name
                                //
                        //item.y
                #map.map
                    #mapholder
    script(src='../js/jquery.js')
    script(src='../js/jquery-ui-1.12.1/jquery-ui.js')
    script(type='text/javascript', src='../js/bootstrap.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBb0qeAa_KvAKAeoWRC1xl4BCH-iPN5ztc&callback=showPosition')
    script(type='text/javascript', src='../js/main.js')
    script(type='text/javascript', src='../js/menu_list.js')
