//   Created by 순우 on 2017-11-07.

head
    title MenuList
    link(rel='stylesheet', href='../../css/HomeContent_KSW.css')

include components/TopMenu_Component

// !PAGE CONTENT!
.w3-main.w3-padding(style='margin-top: 85px;')
    .w3-twothird
        // First Photo Grid
        #menuPic.w3-row-padding.w3-center
            .w3-third
                img(src='../img/pasta.jpg', alt='Pasta')
                h3 Title
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat.
            .w3-third
                img(src='../img/steak.jpg', alt='Steak')
                h3 Title
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat.
            .w3-third
                img(src='../img/fishandchips.jpeg', alt='Fish and Chips')
                h3 Title
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat.
            .w3-third
                img(src='../img/bibimbap.jpeg', alt='Korean cuisine')
                h3 Title
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat.
            .w3-third
                img(src='../img/sushi.jpg', alt='Japanese cuisine')
                h3 Title
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat.
            .w3-third
                img(src='../img/dimsum.jpg', alt='China cuisine')
                h3 Title
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat.
            .w3-third
                img(src='../img/ricenoodle.jpg', alt='Vietnam cuisine')
                h3 Title
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat.
            .w3-third
                img(src='../img/pizza.jpg', alt='Pizza')
                h3 Title
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat.
            .w3-third
                img(src='../img/tacos.jpg', alt='Tacps')
                h3 Title
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    | consequat.
        // Pagination
        .w3-center.w3-padding-32
            .w3-bar
                a.w3-bar-item.w3-button.w3-hover-black(href='#') «
                a.w3-bar-item.w3-black.w3-button(href='#') 1
                a.w3-bar-item.w3-button.w3-hover-black(href='#') 2
                a.w3-bar-item.w3-button.w3-hover-black(href='#') 3
                a.w3-bar-item.w3-button.w3-hover-black(href='#') 4
                a.w3-bar-item.w3-button.w3-hover-black(href='#') »

        include components/Footer_Component_KSW
    include components/Map_Component
