<!DOCTYPE html>
<html lang="en">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="Message.css">

      <!-- 합쳐지고 최소화된 최신 CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css">

      <!-- 부가적인 테마 -->
      <link rel="stylesheet" href="css/bootstrap-theme.min.css">

      <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
      <script src="js/bootstrap.min.js"></script>
<title>메세지</title>
	</head>
<body>


  <div class="container">
    <div class="col-xs-12" id="commentTitle">
        <h2>댓글&nbsp;&nbsp;&nbsp;<span class="label label-success">New</span>&nbsp;<span class="badge">2</span></h2>
    </div>


    <ul class="commentList">
      <li class="comment">
        <span class="commentUser">반페르시</span>&nbsp;&nbsp;&nbsp;<span class="commentContents">맛있다.맛있다맛있다맛있다맛있다맛있다맛있다맛있다맛있다맛있다맛있다맛있다맛있다맛있다맛있다</span>
      </li>
      <li class="comment">
        <span class="commentUser">반페르시</span>&nbsp;&nbsp;&nbsp;<span class="commentContents">맛있다.맛있다맛있다맛있다맛있다맛있다맛있다맛있다맛있다맛있다맛있다맛있다맛있다맛있다맛있다</span>
      </li>
      <li class="comment">
        <span class="commentUser">반페르시</span>&nbsp;&nbsp;&nbsp;<span class="commentContents">맛있다.맛있다맛있다맛있다맛있다맛있다맛있다맛있다맛있다맛있다맛있다맛있다맛있다맛있다맛있다</span>
      </li>
    </ul>



    <div class="col-xs-12">
        <hr class="articleLine">
    </div>


    <div class="btn-group btn-group-justified submit" role="group">
      <div class="btn-group" role="group">
        <button type="button" class="btn btnStyle">구매자</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btnStyle">판매자</button>
      </div>
    </div>



    <div class="col-xs-12 messageHead">
       <h1>메시지</h1>
    </div>




    <div class="col-xs-12 messageList">

      <div class="col-xs-12 msgPadding">

        <div class="col-xs-2 col-md-1 msgPadding">
          <a href="#">
            <img src="kaka.jpg" alt="Avatar" class="right">
            <span class="notify-badge">1</span>
          </a>
        </div>

        <div class="col-xs-10 col-md-11">
            <div class="col-xs-12">
              <span class="name userName"><a href="#">규원</a></span>
              <span class="pull-right msgDate">
                5개월전
              </span>
            </div>

            <div class="col-xs-12">
              뜨아

            </div>

            <div class="col-xs-12">
              <span class="completePayment">결제완료</span>
              <span class="name placeName"><a href="#">Guywon's Guest</a></span>
            </div>
        </div>

      </div>

      <div class="col-xs-12 msgPadding">

        <div class="col-xs-2 col-md-1 msgPadding">
          <a href="#">
            <img src="kaka.jpg" alt="Avatar" class="right">
            <span class="notify-badge">1</span>
          </a>
        </div>

        <div class="col-xs-10 col-md-11">
            <div class="col-xs-12">
              <span class="name userName"><a href="#">규원</a></span>
              <span class="pull-right msgDate">
                5개월전
              </span>
            </div>

            <div class="col-xs-12">
              맛있다.맛있다.맛있다.맛있다.맛있다.맛있다.맛있다.맛있다.
              맛있다.맛있다.맛있다.맛있다.맛있다.맛있다.맛있다.맛있다.
              맛있다.맛있다.맛있다.맛있다.맛있다.맛있다.맛있다.맛있다.
              맛있다.맛있다.맛있다.맛있다.맛있다.맛있다.맛있다.맛있다.
              맛있다.맛있다.맛있다.맛있다.맛있다.맛있다.맛있다.맛있다.
              맛있다.맛있다.맛있다.맛있다.맛있다.맛있다.맛있다.맛있다.
              맛있다.맛있다.맛있다.맛있다.맛있다.맛있다.맛있다.맛있다.

            </div>

            <div class="col-xs-12">
              <span class="completePayment">결제완료</span>
              <span class="name placeName"><a href="#">Guywon's Guest</a></span>
            </div>
        </div>

      </div>

      <div class="col-xs-12 msgPadding">

        <div class="col-xs-2 col-md-1 msgPadding">
          <a href="#">
            <img src="kaka.jpg" alt="Avatar" class="right">
            <span class="notify-badge">1</span>
          </a>
        </div>

        <div class="col-xs-10 col-md-11">
            <div class="col-xs-12">
              <span class="name userName"><a href="#">규원</a></span>
              <span class="pull-right msgDate">
                5개월전
              </span>
            </div>

            <div class="col-xs-12">
              뜨아

            </div>

            <div class="col-xs-12">
              <span class="completePayment">결제완료</span>
              <span class="name placeName"><a href="#">Guywon's Guest</a></span>
            </div>
        </div>

      </div>

    </div>



  </div>
</body>
</html>
