<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../css/message.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/menu_list.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../js/jquery-ui-1.12.1/jquery-ui.css">

    <style>

        .payment_box ul li{
            margin-bottom:10px;
        }

    </style>
</head>
<body>
<header>
    <div class="container-fluid">
        <nav class="navbar" style="border: none; margin: 0;">

            <div style="background-color: white; height: 20px;"></div>
            <div class="col-md-4 col-xs-4 col-sm-4" style="background-color: #fefefe; height: 60px;">
                <a href="menu_list.html"><img src="../img/foodiylogo.gif" alt="" style="width: 200px; height: 60px; margin-left: 50px;"></a>
            </div>

            <div class="user_button" style="float: right; margin-right: 50px; margin-top: 10px;">
                <button type="button" class="btn btn-default">판매자 페이지</button>
                <button type="button" class="btn btn-default">
                    <i class="fa fa-shopping-bag"></i>&nbsp; 장바구니
                </button>
                <button type="button" class="btn btn-default">
                    <i class="fa fa-user-o"></i>&nbsp; 내 정보 <i class="fa fa-angle-down"></i>
                </button>
            </div>

        </nav>
    </div>
</header>

<div class="payment_box col-xs-3" style="height: 100%; border: 2px solid black; margin-top: 115px; padding: 0;">

    <img src="../img/temp_logo.jpg" alt="" style="height: 180px; width: 180px; display: block; margin: auto; border-radius: 50%; margin-top: 40px;">
    <div style="margin-top: 20px; line-height: 20px;">
        <p style="text-align: center;"><strong style="font-size: 17px;">권순우</strong><br>(아이디)<br><small>한국, 충청북도, 청주</small></p>
    </div>
    <div style="background-color: darkorange; border-top: 2px solid black; border-bottom:2px solid black; height: 40px; text-align: center; margin-top: 30px;"><h4>메뉴세부정보</h4></div>

    <ul style="margin : 40px 0; list-style-type: none; text-align: center;">
        <li>메뉴 이름 : 카레라이스</li>
        <li>가격: 5,500 x 3개</li>
        <li>예약 일시: 2017년 06월 05일 18:00</li>
    </ul>

    <div style="background-color: darkorange; border-top: 2px solid black; height: 40px; text-align: center; margin-top: 30px;"><h4>총 금액 : 16,500</h4></div>
    <div style="background-color: #2ECC71;; border-top: 2px solid black; height: 40px; text-align: center;"><h4>예약 승인 대기 중</h4></div>

</div>

<section>

    <div class="chat">
        <ul>
            <li class="other">
                <textarea class="message col-md-12 col-sm-12 col-xs-12" name="" id="" rows="5" style="margin-right: 0; margin-bottom: 10px; "></textarea>
                <button type="button" class="btn btn-primary" style="float: right;">전송</button>
            </li>
            <br><br><br><br><br><br><br><br><br><br><br>

            <li class="other">
                <a rel="nofollow" rel="noreferrer"class="user" href="#"><img alt="" src="../img/google_logo.png" /></a>
                <div class="date">
                    2 minutes ago
                </div>
                <div class="message">
                    <p>
                        좀 먹자능
                    </p>
                </div>
            </li>
            <li class="other">
                <a rel="nofollow" rel="noreferrer"class="user" href="#"><img alt="" src="../img/google_logo.png" /></a>
                <div class="date">
                    5 minutes ago
                </div>
                <div class="message">
                    <p>
                        카레 먹고 싶다능
                    </p>
                </div>
            </li>
            <li class="you">
                <a rel="nofollow" rel="noreferrer"class="user" href="#"><img alt="" src="../img/facebook_logo.png" /></a>
                <div class="date">
                    7 minutes ago
                </div>
                <div class="message">
                    <p>
                        카레 안된다능
                    </p>
                </div>
            </li>
            <li class="other">
                <a rel="nofollow" rel="noreferrer"class="user" href="#"><img alt="" src="../img/google_logo.png" /></a>
                <div class="date">
                    8 minutes ago
                </div>
                <div class="message">
                    <p>
                        카레 말곤 다 싫다능
                    </p>
                </div>
            </li>
            <li class="you">
                <a rel="nofollow" rel="noreferrer"class="user" href="#"><img alt="" src="../img/facebook_logo.png" /></a>
                <div class="date">
                    10 minutes ago
                </div>
                <div class="message">
                    <p>
                        카레 안된다고 몇 번 말하냐능
                    </p>
                </div>
            </li>
            <li class="you">
                <a rel="nofollow" rel="noreferrer"class="user" href="#"><img alt="" src="../img/facebook_logo.png" /></a>
                <div class="date">
                    10 minutes ago
                </div>
                <div class="message">
                    <p>
                        꺼지라능 ㅂㅂ
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>

<script>

</script>
</body>
</html>