//
   Created by Sehyeon on 2017-08-19.
doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Title
        link(rel='stylesheet', href='../css/manage_msg.css')
    body
        .message_table
            .header Message
            table(cellspacing='0')
                tr
                    th(width='150') 구매자
                    th(width='150') 메뉴
                    th(width='300') 내용
                    th(width='150') 식사 일시
                    th(width='150') 금액/상태
                tr
                    td
                        img(src='http://lorempixel.com/100/100/people/1', alt='')
                        br
                        span 김기영
                    td 생일상
                    td 안녕하세요 8월 19일날 순우형 생일이라 가장 비싼 생일상 세트로 6인 주문하려고 하는데요 저녁 7시에 예약 가능한가요 ?
                    td
                        time
                            | 2017/08/19
                            br
                            | 19:00
                    td
                        | 600,000
                        br
                        | 완료
                tr
                    td
                        img(src='http://lorempixel.com/100/100/people/1', alt='')
                        br
                        span 김기영
                    td 생일상
                    td 안녕하세요 8월 19일날 순우형 생일이라 가장 비싼 생일상 세트로 6인 주문하려고 하는데요 저녁 7시에 예약 가능한가요 ?
                    td
                        time
                            | 2017/08/19
                            br
                            | 19:00
                    td
                        | 600,000
                        br
                        | 완료
                tr
                    td
                        img(src='http://lorempixel.com/100/100/people/1', alt='')
                        br
                        span 김기영
                    td 생일상
                    td 안녕하세요 8월 19일날 순우형 생일이라 가장 비싼 생일상 세트로 6인 주문하려고 하는데요 저녁 7시에 예약 가능한가요 ?
                    td
                        time
                            | 2017/08/19
                            br
                            | 19:00
                    td
                        | 600,000
                        br
                        | 완료
                tr
                    td
                        img(src='http://lorempixel.com/100/100/people/1', alt='')
                        br
                        span 김기영
                    td 생일상
                    td 안녕하세요 8월 19일날 순우형 생일이라 가장 비싼 생일상 세트로 6인 주문하려고 하는데요 저녁 7시에 예약 가능한가요 ?
                    td
                        time
                            | 2017/08/19
                            br
                            | 19:00
                    td
                        | 600,000
                        br
                        | 완료
                tr
                    td
                        img(src='http://lorempixel.com/100/100/people/1', alt='')
                        br
                        span 김기영
                    td 생일상
                    td 안녕하세요 8월 19일날 순우형 생일이라 가장 비싼 생일상 세트로 6인 주문하려고 하는데요 저녁 7시에 예약 가능한가요 ?
                    td
                        time
                            | 2017/08/19
                            br
                            | 19:00
                    td
                        | 600,000
                        br
                        | 완료

