<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>foodiy</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!--<link rel="stylesheet" href="../css/main_css.css">-->
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../js/jquery-ui-1.12.1/jquery-ui.css">
    <link rel="stylesheet" href="../css/manage_menu.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<link rel="stylesheet" href="../css/test2.css">-->
    <link rel="stylesheet" href="../css/manage_msg.css">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="foodiy col-md-4">
        <a href="#"><h2>FooDIY</h2></a>
    </div>

    <div class="user_button col-md-8 navbar-fixed-top">
        <button type="button" class="btn btn-default col-md-offset-8">판매자 페이지</button>
        <button type="button" class="btn btn-default">
            <i class="fa fa-user-o"></i>&nbsp; 내 정보 <i class="fa fa-angle-down"></i>
        </button>
    </div>

</nav>

<nav class="col-md-2">

    <div class="row">
        <div class="sidebar">
            <ul class="nav sidenav">
                <h3 style="text-align: center; color: white; margin-bottom: 30px;">판매자</h3>
                <li style="margin-top: 15px;">
                    <a href="#">판매 관리<i class="fa fa-chevron-down pull-right"></i></a>
                    <ul class="nav nav-show">
                        <li><a href="#">메뉴 관리</a></li>
                        <li><a href="#">주문 관리</a></li>
                        <li><a href="#">판매자 정보 수정</a></li>
                    </ul>
                </li>

                <li style="margin-top: 15px;">
                    <a href="#">메시지<i class="fa fa-chevron-down pull-right"></i></a>
                    <ul class="nav nav-show">
                        <li><a href="#">메뉴 관리</a></li>
                        <li><a href="#">주문 관리</a></li>
                        <li><a href="#">판매자 정보 수정</a></li>
                    </ul>
                </li>

                <li style="margin-top: 15px;">
                    <a href="#">서비스<i class="fa fa-chevron-down pull-right"></i></a>
                    <ul class="nav nav-show">
                        <li><a href="#">메뉴 관리</a></li>
                        <li><a href="#">주문 관리</a></li>
                        <li><a href="#">판매자 정보 수정</a></li>
                    </ul>
                </li>

                <li style="margin-top: 15px;">
                    <a href="#">고객지원<i class="fa fa-chevron-down pull-right"></i></a>
                    <ul class="nav nav-show">
                        <li><a href="#">메뉴 관리</a></li>
                        <li><a href="#">주문 관리</a></li>
                        <li><a href="#">판매자 정보 수정</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</nav>

<article class="col-md-10">

    <div class="message_table">
        <div class="header">Message</div>

        <table cellspacing="0">
            <tr>
                <th width="150">구매자</th>
                <th width="150">메뉴</th>
                <th width="300">내용</th>
                <th width="150">식사 일시</th>
                <th width="150">금액/상태</th>
            </tr>

            <tr style="cursor:hard;" onclick="location.href='wwww.nver.com/'">
                <td><img src="http://lorempixel.com/100/100/people/1" alt="" /><br><span>김기영</span></td>
                <td>생일상</td>
                <td>안녕하세요 8월 19일날 순우형 생일이라 가장 비싼 생일상 세트로 6인 주문하려고 하는데요 저녁 7시에 예약 가능한가요 ?</td>
                <td><time>2017/08/19<br>19:00</time></td>
                <td>600,000<br>완료</td>
            </tr>

            <tr>
                <td><img src="http://lorempixel.com/100/100/people/1" alt="" /><br><span>김기영</span></td>
                <td>생일상</td>
                <td>안녕하세요 8월 19일날 순우형 생일이라 가장 비싼 생일상 세트로 6인 주문하려고 하는데요 저녁 7시에 예약 가능한가요 ?</td>
                <td><time>2017/08/19<br>19:00</time></td>
                <td>600,000<br>완료</td>
            </tr>

            <tr>
                <td><img src="http://lorempixel.com/100/100/people/1" alt="" /><br><span>김기영</span></td>
                <td>생일상</td>
                <td>안녕하세요 8월 19일날 순우형 생일이라 가장 비싼 생일상 세트로 6인 주문하려고 하는데요 저녁 7시에 예약 가능한가요 ?</td>
                <td><time>2017/08/19<br>19:00</time></td>
                <td>600,000<br>완료</td>
            </tr>

            <tr>
                <td><img src="http://lorempixel.com/100/100/people/1" alt="" /><br><span>김기영</span></td>
                <td>생일상</td>
                <td>안녕하세요 8월 19일날 순우형 생일이라 가장 비싼 생일상 세트로 6인 주문하려고 하는데요 저녁 7시에 예약 가능한가요 ?</td>
                <td><time>2017/08/19<br>19:00</time></td>
                <td>600,000<br>완료</td>
            </tr>

            <tr>
                <td><img src="http://lorempixel.com/100/100/people/1" alt="" /><br><span>김기영</span></td>
                <td>생일상</td>
                <td>안녕하세요 8월 19일날 순우형 생일이라 가장 비싼 생일상 세트로 6인 주문하려고 하는데요 저녁 7시에 예약 가능한가요 ?</td>
                <td><time>2017/08/19<br>19:00</time></td>
                <td>600,000<br>완료</td>
            </tr>

        </table>
    </div>

</article>

</body>

<script src="../js/jquery.js"></script>
<script src="../js/jquery-ui-1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/manage_menu.js"></script>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb0qeAa_KvAKAeoWRC1xl4BCH-iPN5ztc"></script>-->
<!--<script type="text/javascript" src="../js/main.js"></script>-->
<!--<script type="text/javascript" src="../js/menu_list.js"></script>-->

</html>
