//
   Created by 순우 on 2017-11-21.

doctype html
// saved from url=(0108)file:///C:/Users/%EC%8B%AC%EC%88%98%EC%97%B0/Desktop/%ED%91%B8%EB%94%94/23.Password_Change_page(suyeon).html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        link(rel='stylesheet', href='../css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='../css/suyeon.css')
        style(type='text/css').
        script(src='../Js/passwordChange.js')
    body.font.container
        .margin
            .font_Lsize.center_align.margin5 비밀번호를 변경합니다.
            .button_margin(style='margin-top:30px;')
                form(method='post')
                    div
                        div
                            p.margin4.col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-6.col-xs-offset-1.left_align 현재 비밀번호
                        div
                            input.wid.form-control.col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-6.col-xs-offset-1.marginD(type='password' name='now')
                    div
                        p.col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-6.col-xs-offset-1.left_align 새비밀번호
                        input.form-control.wid.col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-6.col-xs-offset-1.marginD(type='password' name='next')
                    div
                        p.col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-6.col-xs-offset-1.left_align 새비밀번호 확인
                        input.wid.form-control.col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-6.col-xs-offset-1(type='password' name='nextcheck')
                    .center_align
                        button.btn.btn-success.col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-6.col-xs-offset-3.button_margin(type='button' onclick='passchange(this.form)') 확인
