//
   Created by 순우 on 2017-11-21.

doctype html
// saved from url=(0108)file:///C:/Users/%EC%8B%AC%EC%88%98%EC%97%B0/Desktop/%ED%91%B8%EB%94%94/23.Password_Change_page(suyeon).html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='../../css/suyeon.css')
    style(type='text/css').
    body.font.container
        .margin
            .font_Lsize.center_align.margin5 비밀번호를 변경합니다.
            .button_margin(style='margin-top:30px;')
                div
                    div
                        p.margin4.col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-6.col-xs-offset-1.left_align 현재 비밀번호
                    div
                        input.wid.form-control.col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-6.col-xs-offset-1.marginD(type='password')
                div
                    p.col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-6.col-xs-offset-1.left_align 새비밀번호
                    input.form-control.wid.col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-6.col-xs-offset-1.marginD(type='password')
                div
                    p.col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-6.col-xs-offset-1.left_align 새비밀번호 확인
                    input.wid.form-control.col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-6.col-xs-offset-1(type='password')
                .center_align
                    a.btn.btn-success.col-md-offset-4.col-md-4.col-sm-offset-3.col-sm-6.col-xs-6.col-xs-offset-3.button_margin(href='#', role='button', style='margin-top:30px;') 확인
