nav.navbar.navbar-inverse.navbar-fixed-top
    .foodiy.col-md-4
        a(href='/')
            h2 FooDIY
    .user_button.col-md-8.navbar-fixed-top
        button.btn.btn-default.col-md-offset-8(type='button') 판매자 페이지
        button.btn.btn-default(type='button')
            i.fa.fa-user-o
            |   내 정보
            i.fa.fa-angle-down
nav.col-md-2
    .row
        .sidebar
            ul.nav.sidenav
                h3#seller_bar(style='text-align: center; color: white; margin-bottom: 30px;') 판매자
                li(style='margin-top: 15px;')
                    a(href='#')
                        | 판매 관리
                    //-     i.fa.fa-chevron-down.pull-right
                    //- ul.nav.nav-show
                    //-     li
                    //-         a(href='#') 메뉴 관리
                    //-     li
                    //-         a(href='#') 주문 관리
                    //-     li
                    //-         a(href='#') 판매자 정보 수정
                li(style='margin-top: 15px;')
                    a(href='/seller/message_list')
                        | 메시지
                    //-     i.fa.fa-chevron-down.pull-right
                    //- ul.nav.nav-show
                    //-     li
                    //-         a(href='/seller/message_list') 메뉴 관리
                    //-     li
                    //-         a(href='#') 주문 관리
                    //-     li
                    //-         a(href='#') 판매자 정보 수정
                //- li(style='margin-top: 15px;')
                //-     a(href='#')
                //-         | 서비스
                //-         i.fa.fa-chevron-down.pull-right
                //-     ul.nav.nav-show
                //-         li
                //-             a(href='#') 메뉴 관리
                //-         li
                //-             a(href='#') 주문 관리
                //-         li
                //-             a(href='#') 판매자 정보 수정
                //- li(style='margin-top: 15px;')
                //-     a(href='#')
                //-         | 고객지원
                //-         i.fa.fa-chevron-down.pull-right
                //-     ul.nav.nav-show
                //-         li
                //-             a(href='#') 메뉴 관리
                //-         li
                //-             a(href='#') 주문 관리
                //-         li
                //-             a(href='#') 판매자 정보 수정
