nav.navbar.navbar-inverse.navbar-fixed-top
    .foodiy.col-md-4
        a(href='/seller/manage')
            h2 판매자 페이지
    .user_button.col-md-8.navbar-fixed-top
        button.btn.btn-default.col-md-offset-8(type='button', onclick="location.href='/'") FooDIY
        span.dropdown
            button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown')
                i.fa.fa-user-o
                |   내 정보&nbsp
                span.caret
            ul.dropdown-menu
                li
                    button.btn.btn-default(type="button", onclick="", style="margin-top:14px;") Profile
                hr
                li
                    button.btn.btn-default(type="button", onclick="location.href='/seller/message_list'") Message
                hr
                li
                    button.btn.btn-default(type="button", onclick="LogOut()") Logout
nav.col-md-2
    .row
        .sidebar
            ul.nav.sidenav
                h3#seller_bar(style='text-align: center; color: white; margin-bottom: 30px;') 판매자
                li(style='margin-top: 15px;')
                    a(href='/seller/manage')
                        | 판매 관리
                    //-     i.fa.fa-chevron-down.pull-right
                    //- ul.nav.nav-show
                    //-     li
                    //-         a(href='#') 메뉴 관리
                    //-     li
                    //-         a(href='#') 주문 관리
                    //-     li
                    //-         a(href='#') 판매자 정보 수정
                li(style='margin-top: 15px;')
                    a(href='/seller/message_list')
                        | 메시지
                    //-     i.fa.fa-chevron-down.pull-right
                    //- ul.nav.nav-show
                    //-     li
                    //-         a(href='/seller/message_list') 메뉴 관리
                    //-     li
                    //-         a(href='#') 주문 관리
                    //-     li
                    //-         a(href='#') 판매자 정보 수정
                //- li(style='margin-top: 15px;')
                //-     a(href='#')
                //-         | 서비스
                //-         i.fa.fa-chevron-down.pull-right
                //-     ul.nav.nav-show
                //-         li
                //-             a(href='#') 메뉴 관리
                //-         li
                //-             a(href='#') 주문 관리
                //-         li
                //-             a(href='#') 판매자 정보 수정
                //- li(style='margin-top: 15px;')
                //-     a(href='#')
                //-         | 고객지원
                //-         i.fa.fa-chevron-down.pull-right
                //-     ul.nav.nav-show
                //-         li
                //-             a(href='#') 메뉴 관리
                //-         li
                //-             a(href='#') 주문 관리
                //-         li
                //-             a(href='#') 판매자 정보 수정
