#page_content {
    max-width: 1200px;
    margin-top:75px;
}

#menuPic .w3-third img{
    width:100%;
    height: 230px;
}

#familypic{
    display: block;
    margin:auto;
    width:800px;
    height:533px;
}