<<<<<<< HEAD:public/css/login.css
#pop-up-sign{
    display: none;
    z-index: 101;
}

#mail_confirm{
    display: none;
    z-index: 101;
}

#log-in{
    text-align: center;
    font-size: 30px;
    color: white;
}

#nickname{
    margin-bottom:30px;
}

.input-group a{
    text-decoration: none;
    cursor: pointer;
}

.input-group a:visited{
    color: black;
}

.input-group a:link{
    color: black;
}

.login-sign-in{
    background-color: #EEEEEE;
    border-color: white;
    color: black;
    height: 35px;
    font-size: 18px;
    border-radius: 8px;
}

.login-set{
    margin-top:10px;
}
.login-set a{
    float: right;
}
.login-set input{
    float: left;
}
.login-set button{
    margin-top:10px;
}

.login-sign-up{
    /*margin-top:30px;*/
    /*margin-bottom:30px;*/
    background-color: #EEEEEE;
    border-color: white;
    color: black;
    height: 35px;
    font-size: 18px;
    border-radius: 8px;
}

.signupzipbob{
    background-color: pink;
    border-color: pink;
    color: black;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    margin-bottom:10px;
    margin-top:30px;
}

.signupgoogle{
    background-color: white;
    border: 1px solid white;
    color: black;
    height: 45px;
    font-size: 18px;
    border-radius: 8px;
    margin-bottom:10px;

}
.link_othersignup{
    background-color: white;
    border: 1px solid white;
    color: black;
    height: 45px;
    font-size: 18px;
    /*border-radius: 8px;*/
    /*border-bottom: 1px solid black;*/
}

.link_othersignup img{
    width: 25px;
    height:25px;
    float: left;
    /*margin-left: 4px;*/
}
.signupgoogle img{
    width: 30px;
    height:30px;
    float: left;
    margin-left: 4px;
}
.signupgoogle p{
    margin-top:3px;
}
.signupnaver{
    background-color: #1DC800;
    color: white;
    height: 45px;
    font-size: 18px;
    border-radius: 8px;
    border-color: #1DC800;
}

.signupnaver img{
    width: 35px;
    height:35px;
    float: left;
    margin-left: 3px;
}

.signupnaver p{
    margin-top:4px;
}
.form-group{
    border-radius: 50px;
}
/* signup-form */

.signupform {
    /*display: none;*/
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
    padding-top: 50px;
}

/* signup-content */

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right:32px;
    margin-top:10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.input-group-s{
    margin-top: 25px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .signup-content {
        z-index: 5;
        background-color: white;
        margin: 3% auto auto auto;
        width: 35%;
        padding: 0;
    }
    .real_content{
        margin:auto;
        padding:10%;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .signup-content {
        z-index: 5;
        background-color: white;
        margin: 3% auto auto auto;
        width: 41%;
        padding: 0;
    }

    .real_content{
        margin:auto;
        padding:10%;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .signup-content {
        z-index: 5;
        background-color: white;
        margin: 3% auto auto auto;
        width:55%;
        padding: 0;
    }

    .real_content{
        margin:auto;
        padding:10%;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .signup-content {
        z-index: 5;
        background-color: white;
        margin: 3% auto auto auto;
        width: 79%;
        padding: 0;
    }

    .real_content{
        margin:auto;
        padding:10%;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .signup-content {
        z-index: 5;
        background-color: white;
        margin: 3% auto auto auto;
        width: 90%;
        padding: 0;
    }

    .real_content{
        margin:auto;
        padding:10%;
    }
}
=======
#log-in{
    text-align: center;
    font-size: 30px;
    color: white;
}

#nickname{
    margin-bottom:30px;
}

.input-group a{
    text-decoration: none;
    cursor: pointer;
}

.input-group a:visited{
    color: black;
}

.input-group a:link{
    color: black;
}

.login-sign-in{
    background-color: #EEEEEE;
    border-color: white;
    color: black;
    height: 35px;
    font-size: 18px;
    border-radius: 8px;
}

.login-set{
    margin-top:10px;
}
.login-set a{
    float: right;
}
.login-set input{
    float: left;
}
.login-set button{
    margin-top:10px;
}

.login-sign-up{
    /*margin-top:30px;*/
    /*margin-bottom:30px;*/
    background-color: #EEEEEE;
    border-color: white;
    color: black;
    height: 35px;
    font-size: 18px;
    border-radius: 8px;
}

.signupzipbob{
    background-color: pink;
    border-color: pink;
    color: black;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    margin-bottom:10px;
    margin-top:30px;
}

.signupgoogle{
    background-color: white;
    border: 1px solid white;
    color: black;
    height: 45px;
    font-size: 18px;
    border-radius: 8px;
    margin-bottom:10px;

}
.link_othersignup{
    background-color: white;
    border: 1px solid white;
    color: black;
    height: 45px;
    font-size: 18px;
    /*border-radius: 8px;*/
    /*border-bottom: 1px solid black;*/
}

.link_othersignup img{
    width: 25px;
    height:25px;
    float: left;
    /*margin-left: 4px;*/
}
.signupgoogle img{
    width: 30px;
    height:30px;
    float: left;
    margin-left: 4px;
}
.signupgoogle p{
    margin-top:3px;
}
.signupfacebook{
    background-color: #3C5A99;
    color: white;
    height: 45px;
    font-size: 18px;
    border-radius: 8px;
}

.signupfacebook img{
    width: 30px;
    height:30px;
    float: left;
}

.signupfacebook p{
    margin-top:4px;
}
.form-group{
    border-radius: 50px;
}
.link_google_facebook{
    /*margin-bottom:40px;*/
}
/* signup-form */

.signupform {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 50px;
}

/* signup-content */

.input-group-s{
    margin-top: 25px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .signup-content {
        z-index: 5;
        background-color: white;
        margin: 3% auto auto auto;
        width: 27%;
        padding: 0;
    }
    .real_content{
        margin:auto;
        padding:10%;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .signup-content {
        z-index: 5;
        background-color: white;
        margin: 3% auto auto auto;
        width: 41%;
        padding: 0;
    }

    .real_content{
        margin:auto;
        padding:10%;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .signup-content {
        z-index: 5;
        background-color: white;
        margin: 3% auto auto auto;
        width:55%;
        padding: 0;
    }

    .real_content{
        margin:auto;
        padding:10%;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .signup-content {
        z-index: 5;
        background-color: white;
        margin: 3% auto auto auto;
        width: 79%;
        padding: 0;
    }

    .real_content{
        margin:auto;
        padding:10%;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .signup-content {
        z-index: 5;
        background-color: white;
        margin: 3% auto auto auto;
        width: 90%;
        padding: 0;
    }

    .real_content{
        margin:auto;
        padding:10%;
    }
}
>>>>>>> aaf87419461d38107f8ff5691cb527c23cfe45c2:css/signUp.css
