* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.items {
    width: 66%;
    font-size: 0;
    margin-top:15px;
}
.items__item {
    display: inline-block;
    vertical-align: bottom;
    width: 33.3%;
    /*margin: 2rem 1%;*/
    text-align: center;
    padding: 2rem 1rem 1rem;
    cursor: pointer;
    color: #222;
    border-radius: 4px;
}

img {
    width: 100%;
    height: auto;
}

.is-selected {
     background: #b00;
     color: white;
 }

.items__title {
    font-size: 14px;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: .1em;
    padding-top: 1rem;
}

.map {
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 34%;
    height: 100%;
    z-index: 99;
}

/*#mapholder{*/
    /*margin-top:1000px;*/
/*}*/

.map__icon {
    position: relative;
}

.before {
     content: "";
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 8px 5px 0 5px;
     border-color: #b00 transparent transparent transparent;
     position: absolute;
     top: 100%;
     left: 50%;
     margin-left: -5px;
 }

img {
    width: 100%;
    height: auto;
}

/*h3 {
    padding: 5px;
    font-size: 12px;
}*/
#seller_bar{
    color: white;
    font-size: 24px;
}
/*seller_top seller_top을 메세지에 적용시키려니까 message의 판매자 tag에 적용시킨 태그를 먹어서 수정함*/

.leaflet-popup-content-wrapper {
    border-radius: 4px;
}
.leaflet-popup-content {
    width: 240px;
    padding: 20px 5px 0;
    margin: 0;
}

@media only screen and (max-width: 1435px) {

    .items__item {
        width: 50%;
    }
    .items {
        width: 60%;
    }
    .map {
        width: 40%;
    }

}

@media only screen and (max-width: 910px) {

    .items__item {
        width: 100%;
    }

}

/*@media only screen and (max-width: 480px) {*/

    /*.items__item {*/
        /*width: 100%;*/
    /*}*/

    /*.items {*/
        /*width: 70%;*/
    /*}*/
    /*.map {*/
        /*width: 30%;*/
    /*}*/

/*}*/