.arrow_box .date{
  font-size:15px;
  font-weight:300;
}
.arrow_box{
  font-weight:400;
  font-size:20px;
}
.leftMessage .arrow_box {
  padding-left:15px;
  padding-top:10px;
  padding-bottom:1px;
  padding-right:15px;
  margin-left:10px;
	position: relative;
	background: #D8D8D8;
  border-top-right-radius: 5px;
  border-top-left-radius:5px;
  border-bottom-right-radius:5px;
}

.leftMessage .arrow_box:after {
	right: 100%;
	top: 100%;
  border-right:50px solid transparent; /*border의 성질을 이용해 오른쪽테두리만 투명으로 만든다. */
  border-top:50px solid cornflowerblue; /*border를 사용해 두께를 만든다.*/
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #D8D8D8;
	margin-top: -10px;
}

.rightMessage .arrow_box {
  padding-left:15px;
  padding-top:10px;
  padding-bottom:1px;
  margin-right:10px;
	position: relative;
  color:#FAFAFA;

	background: rgb(26, 188, 156);
  border-top-right-radius: 5px;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
}

.rightMessage .arrow_box:after {
  left: 100%;
	top: 100%;
  border-right:14px solid transparent; /*border의 성질을 이용해 오른쪽테두리만 투명으로 만든다. */
  border-bottom:14px solid cornflowerblue;
  width:0px;height:0px;
  content:" ";
  position:absolute;
  pointer-events: none;
  margin-top:-10px;


  border-bottom-color: rgb(26, 188, 156);
}

/*Arrow_box가 relative라서 pc환경에서 글씨만큼만 메세지박스가생겨야하는데 미디어크기만큼커져서문제가생김 꼭고치기*/
.media img {
  left:100%;
  bottom: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
}
.setBtnPadding{
  padding:10px;
}
.setBtnPadding p{
  color:#FF0000;
  font-size:15px;
  font-weight:500;
  padding-top:2px;
  display: block;
  text-align: center;
}
.setBtnPadding .paymentButton{
  font-size:15px;
  font-weight:500;
  background-color:#FAFAFA;
  color:rgb(26, 188, 156);
  border:0;
}
#messageList .media-body{
  margin:30px;
}
#messageList .media-left .media-right{
  margin-bottom:0px;
}
.messageDiv .col-xs-12{
  padding-left:0;
  padding-right:0;
  padding-top:15px;
}
.messageDiv .message{
  border:0;
}
.messageDiv .send{
  font-size:15px;
  font-weight:600;
  border:0;
  color:rgb(26, 188, 156);
  background: #FAFAFA;
}
#chatList {
  height:800px;
  overflow:scroll;
  overflow-x:hidden;
}
#sendMessage{
  padding-top:30px;
}
#chatList{
  padding-top:70px;
}
