
.line {
  background-color: #31B404;
}
.auth{
  font-size:20px;
  font-weight:400;
}
.articleLine{
  border: 0;
  margin-top:7px;
  height: 1px;
  background: #ccc;
  margin-bottom:7px;
}
.phoneText {
  margin-top: 7px;
}
/*.loadName{
  padding:0;
}*/

#address .col-xs-3{
  padding-right: 0;
}
.submit{
  padding-top: 20px;
}
.divMargin{
  margin-top: 7px;
}
#cancleButton .btn{
  background-color: #FAFAFA;
  color: black;
  border-top:1px solid;
  border-bottom:1px solid;
  border-left: 1px solid;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:0;
}
#submitButton .btn{
  background-color: #FF4000;
  color: white;
  border: 1px solid black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:0;
}
