<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/ImgSlider_KSW.css">
</head>
<body>

<!-- Slider -->
<div id="scroll-feature" class="horiz-scroll">
    <div class="scroller">
        <div class="left-scroll invisible">
            <p class="fa fa-angle-left"></p>
        </div>
        <div class="right-scroll">
            <p class="fa fa-angle-right"></p>
        </div>
        <div class="scroll-images scrollable-x">
            <img src="http://placehold.it/600x400/CCB03A/fff&text=Image+1" alt="Image 1">
            <img src="http://placehold.it/600x400/FAEF5D/333&text=Image+2" alt="Image 2">
            <img src="http://placehold.it/600x400/97A976/fff&text=Image+3" alt="Image 3">
            <img src="http://placehold.it/600x400/675647/fff&text=Image+4" alt="Image 4">
            <img src="http://placehold.it/600x400/253E41/fff&text=Image+5" alt="Image 5">
            <img src="http://placehold.it/600x400/F1582D/fff&text=Image+6" alt="Image 6">
            <img src="http://placehold.it/600x400/C1DAD8/333&text=Image+7" alt="Image 7">
            <img src="http://placehold.it/600x400/6CB8C1/fff&text=Image+8" alt="Image 8">
            <img src="http://placehold.it/600x400/BF6A28/fff&text=Image+9" alt="Image 9">
            <img src="http://placehold.it/600x400/5E4D1E/fff&text=Image+10" alt="Image 10">
            <img src="http://placehold.it/600x400/E5DECA/333&text=Image+11" alt="Image 11">
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../../Js/ImgSlider.js"></script>
</body>
</html>