<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>

<div class="w3-sidebar w3-third" id="map" style="height: 100%; right: 0;"></div>

<script>
    function myMap() {
        var mapCanvas = document.getElementById("map");
        var myCenter = new google.maps.LatLng(36.6251, 127.45718299999999);
        var marker = new google.maps.Marker({position:myCenter});
        var mapOptions = {
            center: myCenter,
            zoom: 14
        };
        var map = new google.maps.Map(mapCanvas, mapOptions);
        marker.setMap(map);

        google.maps.event.addListener(marker,'click',function() {
            map.setZoom(17);
            map.setCenter(marker.getPosition());
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9QRgBKIct09-0nMzhZyX5EMldShSzZy4&callback=myMap"></script>
</body>
</html>