<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/TopMenu_KSW.css">
</head>
<body>

<div class="container">

    <div class="row">

        <!-- Main Content -->
        <div class="col-xs-12 col-lg-9 col-sm-9 col-md-9">
            <h4>Section 1 - Claimant</h4>

            <div class="alert alert-info" role="alert">
                <h4>A Separate application  must be filed for each person seeking assistance.</h4>
                <p>Section 1 must be completed for all applications. The claimant is the person who has expenses or is seeking assistance as a result of a crime. If you are filing this application on behalf of someone else, put their information in Section 1 and your information in Section 3.</p>
            </div>

            <form>
                <div class="row">
                    <div class="col-lg-6 col-xs-12 col-sm-6">
                        <div class="form-group col-xs-12">
                            <label for="menu_name">메뉴 이름</label>
                            <input type="text" class="form-control input-lg" id="menu_name" placeholder="내용을 입력해주세요">
                        </div>
                    </div>

                    <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                        <div class="form-group col-xs-9">
                            <label for="price">가격</label>
                            <input type="text" class="form-control input-lg" id="price" placeholder="내용을 입력해주세요">
                        </div>

                        <div class="form-group col-xs-3">
                            <label for="" class="select">단위</label>
                            <select class="form-control input-lg">
                                <option>1인분</option>
                                <option>2인분</option>
                                <option>3인분</option>
                                <option>4인분</option>
                                <option>직접 입력</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                        <div class="form-group col-xs-12">
                            <label for="time">메뉴 판매 시간</label>
                            <input type="" class="form-control input-lg" id="time" placeholder="Last Name">
                        </div>
                    </div>

                    <div class="col-lg-offset-0 col-lg-3 col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="Gender" class="select">Gender</label>
                            <select class="form-control">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-offset-0 col-lg-3 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label for="Gender" class="select">Relationship to victim</label>
                            <select class="form-control">
                                <option>Self</option>
                                <option>Family Member that Witnessed the Crime</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label for="Gender" class="select">Does the claimant have a Social Security Number?</label>
                            <select class="form-control">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-offset-0 col-lg-3 col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Social Security #</label>
                            <input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="SS#">
                        </div>
                    </div>

                    <div class="col-lg-offset-0 col-lg-3 col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Date of Birth</label>
                            <input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="Date of Birth">
                        </div>
                    </div>

                    <div class="col-lg-offset-0 col-lg-6 col-xs-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mailing Address</label>
                            <input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="Street Number and Name or P.O. Box">
                        </div>
                    </div>

                    <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Address 2</label>
                            <input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="Apartment or Unit #">
                        </div>
                    </div>

                    <div class="col-lg-offset-0 col-lg-4 col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">City</label>
                            <input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="Sacramento">
                        </div>
                    </div>

                    <div class="col-lg-offset-0 col-lg-2 col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">State</label>
                            <input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="CA">
                        </div>
                    </div>

                    <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Zip</label>
                            <input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="95822">
                        </div>
                    </div>

                    <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Home Telephone</label>
                            <input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="(916) 345-6783">
                        </div>
                    </div>

                    <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Work Telephone</label>
                            <input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="(916) 345-0000 x123">
                        </div>
                    </div>

                    <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Cell Phone</label>
                            <input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="(916) 345-2345">
                        </div>
                    </div>

                    <div class="col-lg-offset-0 col-lg-4 col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">E-Mail</label>
                            <input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="andrey@mylife.com">
                        </div>
                    </div>

                    <div class="col-lg-offset-0 col-lg-2 col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="Gender" class="select">E-Mail Type</label>
                            <select class="form-control">
                                <option>Personal</option>
                                <option>Work</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-offset-0 col-lg-12 col-xs-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                From the date of the crime to now, has the claimant been in prison, on probation, on parole or post-release community supervision because of a felony? </label>
                        </div>
                    </div>

                    <div class="col-lg-offset-0 col-lg-12 col-xs-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                Is the claimant required to register as a sex offender?
                            </label>
                        </div>
                    </div>



                    <div class="bg-warning col-lg-offset-0 col-lg-12 col-xs-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                Check This Box if You Are a Parent/Guardian Applying on Behalf of a Minor Witness to Violent Crime. Minor witnesses are eligible for mental health treatment only. Claimant is under age 18, a witness in close proximity to a violent crime, but is neither the crime victim nor related to the victim. Provide available victim, crime or other information in remaining sections.
                            </label>
                        </div>
                    </div>

                    <div class="col-lg-offset-0 col-lg-12 col-xs-12">
                        <br><br>
                        <span class="glyphicon glyphicon-info-sign"></span>
                        If you are an adult victim and the expenses are for you, skip to <a href="vcp-application-4.html">Section 4</a>. If not, Continue to Section 2
                    </div>

                </div><!--/ Row-->

                <hr>

            </form>

        </div> <!-- /Main Content -->

</div>

</body>
</html>