<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/MenuInfo_KSW.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="../../css/TopMenu_KSW.css">-->
</head>
<body>

<div class="user-profile">

    <img class="avatar" src="../../img/sushi.jpg" alt="Ash" />
    <div class="restaurant-name">호호식당</div>
    <div class="address">
        한국, 충청북도, 청주
    </div>
    <div class="username">
        규원
    </div>

</div>

</body>
</html>